/volatile/halla/sbs/koeneman/replays/pass3_test_multiseg/He3/GEN2/rootfiles/*.root
endRunlist
bb.tr.n>0&&bb.ps.e>0.2&&abs(bb.etot_over_p[0]-1.)<0.3&&abs(bb.tr.vz[0])<0.27&&abs(sbs.hcal.atimeblk-bb.hodotdc.clus.tfinal[0]-0.4)<10&&sbs.hcal.e>0.06&&bb.gem.track.ngoodhits[0]>2&&bb.gem.track.chi2ndf[0]<15&&e.kine.W2>-1.0&&e.kine.W2<1.6
endcut
macros_dir  # path to BBCal_replay/macros dir
E_beam 4.291        #GeV
SBS_theta 34.7      #deg
HCAL_dist 17      #m
HCAL_hoffset 0.15      #m
HCAL_zoffset 0.0   #m
sbsmaxfield  1.23  #T SBS4 => 1.78, SBS8 => 1.23, Rest => 1.275
# spot cuts (M=>mean, S=>sigma, nS=> n sigma cut). Set W2 cut in the global cuts
apply_spot_cut 1 # 1=>apply spot cut, 0=>do not apply
pspot_cut 0.0 .1 2 0.0 .1 4 # dxM dxS ndxS dyM dyS ndyS
nspot_cut 0.0 .1 4 0.0 .1 4 # dxM dxS ndxS dyM dyS ndyS
# old/new offsets
etof0 15.43 # ns (see bb.etof_avg in db_bb.dat)
BBtrig_t0 349.0 # ns
apply_th_timeoffset 0 # 1=>No, yes otherwise.
THRF_offsets 
THt0_offsets 
THwL_offsets 
THwR_offsets 
THvscint_offsets
apply_hcal_atimeoffset 0 0.0 # 0=>No; 1=>Yes & read offsets from files below; 2=>Yes & apply 2nd arg as const offset (no old offset subtraction)
HCAL_atime_offsets_old 
HCAL_atime_offsets_new 
apply_sh_atimeoffset 0 0.0 # 0=>No; 1=>Yes & read offsets from files below; 2=>Yes & apply 2nd arg as const offset (no old offset subtraction)
BBSH_atime_offsets_old 
BBSH_atime_offsets_new 
apply_ps_atimeoffset 0 0.0 # 0=>No; 1=>Yes & read offsets from files below; 2=>Yes & apply 2nd arg as const offset (no old offset subtraction)
BBPS_atime_offsets_old 
BBPS_atime_offsets_new 
# histos
h_W 200 0. 5.  # nbin, min, max
h_Q2 180 2. 20.
h_PovPel 300 0.7 1.3
h_EovP 180 0.4 1.6
EovP_fit_width 1.5 # how many sigmas to include in the fit
h_clusE 120 0. 4.
h_shE 90 0. 3.
h_psE 80 0. 2.
h2_p 105 0.5 4.
h2_pang 100 38. 48.
h2_p_coarse 6 2.2 3.2
h2_EovP 200 .6 1.4
h2_dx 150 -2.5 1
h2_dy 200 -1 1
endconfig
2033 2323 1.0
endfieldconfig


***** Log *****        	     
